<div id="toggleView">
    <mat-slide-toggle color="primary" (change)="onToggle($event)"></mat-slide-toggle>
</div>

<div fxLayout="row wrap" class="content" ngClass.lt-md="small-content">
    <div fxFlex="20" fxHide.lt-md id="category-menu" fxLayout="row" fxLayoutAlign="end start">
        <app-liquid-filter *ngIf="productView === 'E-Liquid'" (onBrandSelect)="changeBrand($event)"></app-liquid-filter>
    </div>
    <div [fxFlex]="productListFlex" id="product-list" fxLayout="row" fxLayoutAlign="center start">
        <div fxLayout="column" id="item-container" fxFlex="75">
            <div fxFlex="100" fxHide.gt-sm *ngIf="productView === 'E-Liquid'">
                <div fxLayout="row" [matMenuTriggerFor]="menu" id="filter">
                    <i class="material-icons md-36">filter_list</i>
                    <p>
                        Filter
                    </p>
                </div>
                <mat-menu #menu="matMenu">
                    <app-liquid-filter (onBrandSelect)="changeBrand($event)"></app-liquid-filter>
                </mat-menu>
            </div>
            <div *ngIf="toggled === 0" class="toggleProducts" fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex.lt-md="80" fxFlex="80">
                <div fxLayout="column" [fxFlex]="perRowFlex" *ngFor="let item of products | productType: productView | liquidBrand: liquidBrand"  fxLayoutAlign="center center">
                    <img [src]="item.thumbnail" [@toggleHover]="item.state" (click)="openProduct(item)" (mouseenter)="toggleHover(item)" (mouseleave)="toggleHover(item)">
                    <h5>{{item.name}}</h5>
                </div>
            </div>

            <!-- <div fxLayout="column" [fxFlex]="perRowFlex" *ngFor="let item of bufferItems" class="category" fxLayoutAlign="center center">
                </div> -->
            <div *ngIf="toggled === 1" fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex.lt-md="80" fxFlex="80">
                <mat-accordion fxFlex="100" >
                    <mat-expansion-panel *ngFor="let item of products | productType: productView | liquidBrand: liquidBrand" class="category">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h5 ngClass.xs="small-update">{{item.name}}</h5>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-item-view [productGroup]="item"></app-item-view>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            
        </div>
        <div fxFlex="20" fxHide.lt-md></div>
    </div>
</div>