<div class="container" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="showForm">
  <div fxFlex="40" fxFlex.lt-md="80" fxLayout="row wrap" fxLayoutAlign="center center">
      <h1 fxFlex="100">Reset Password</h1>
      <!-- <form fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center"> -->
        <mat-form-field appearance="outline" fxFlex="70">
          <mat-label>New Password</mat-label>
          <input type="password" matInput placeholder="Enter New Password" [(ngModel)]="newPassword">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="70">
          <mat-label>Confirm New</mat-label>
          <input matInput type="password" placeholder="Confirm New Password" [(ngModel)]="confirmedPassword">
          </mat-form-field>
        <p class="success" *ngFor="let success of successMessages" fxFlex="100">{{success}}</p>  
        <p class="error" *ngFor="let error of errorMessages" fxFlex="100">{{error}}</p>
          <div fxLayoutAlign="center" class="btn-container" fxFlex="100">
          <button class="btn" mat-raised-button color="primary" (click)="submitForm()">Submit</button>
          </div>
        <!-- </form> -->
  </div>
</div>