<div class="update-item" fxLayout="column" ngClass.lt-md="small-update">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div fxFlex="20"></div>
    <div fxFlex="80" fxLayout="row" fxLayoutAlign="center center">
        <h3 *ngIf="grp === 'E-Liquid'" id="liquidName" ngClass.xs="small-update">{{grouping.name}}</h3>
    </div>
  </div>
  <div>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div fxFlex="20" class="display-image" fxLayout="row" fxLayoutAlign="center center">
        <img src="{{grouping.thumbnail}}">
      </div>
      <div fxFlex="80">
          <table>
              <tr id="product-tr">
                <th *ngIf="grp === 'Promo'">
                  <h3>Type</h3>
                </th>
                <th *ngIf="grp === 'E-Liquid' || subType === 'Tops'">
                  <h3>Size</h3>
                </th>
                <th *ngIf="grp === 'E-Liquid'">
                  <h3 fxHide.lt-md>Nicotine</h3>
                  <h3 fxHide.gt-sm>Nic</h3>
                </th>
                <th *ngIf="subType === 'Headwear'">
                  <h3>Color</h3>
                </th>
                <th>
                  <h3>Price</h3>
                </th>
                <th *ngIf="grp !== 'Promo'">
                  <h3>MSRP</h3>
                </th>
                <th>
                  <h3>In Stock:</h3>
                </th>
                <th>
                  <h3>Quantity:</h3>
                </th>
              </tr>
              <tr *ngFor="let item of grouping.products">
                <td *ngIf="grp === 'Promo'">
                  <p>{{item.name}}</p>
                </td>
                <td *ngIf="grp === 'E-Liquid'">
                  <p>{{item.bottleSize}}</p>
                </td>
                <td *ngIf="subType === 'Tops'">
                  <p>{{item.size}}</p>
                </td>
                <td *ngIf="grp === 'E-Liquid'">
                  <p>{{item.nicotine}}</p>
                </td>
                <td *ngIf="subType === 'Headwear'">
                  <p>{{item.color}}</p>
                </td>
                <td>
                  <p>{{item.price.toFixed(2)}}</p>
                  <!-- <i class="fas fa-eye-slash" *ngIf="!item.price"></i> -->
                </td>
                <td *ngIf="grp !== 'Promo'">
                  <p>{{item.msrp.toFixed(2)}}</p>
                </td>
                <td>
                  <p *ngIf="item.stocked < 500 &amp;&amp;	item.stocked > 0">{{item.stocked}}</p>
                  <p *ngIf="item.stocked >= 500">500+</p>
                  <p *ngIf="item.stocked <= 0">0</p>
                </td>
                <td>
                  <input type="number" min="0" onkeydown="javascript: return event.keyCode == 69 ? false : true" [(ngModel)]="item.qty" (input)="qtyChanged()"
                  />
                </td>
              </tr>
            </table>
      </div>
    </div>
  </div>
</div>