.address {
    border: 3px solid black;
    border-radius: 10px;
    margin: 25px;
    cursor: pointer;

    .address-info {
        padding: 25px;
        padding-top: 0;
    }
    
    .check {
        opacity: 0;

        i {
            margin: 1em;
        }
    }
}

.selected-address {
    border: 3px solid #F8B615;
    overflow: hidden;
    box-shadow: 0px 0px 8px black;

    .check {
        background-color: #F8B615;
        border-bottom-right-radius: 10px;
        opacity: 1;
    }
}

.shipping-methods {
    margin: 25px;

    .methods {
        margin: 5px;
    }
}

.tab-navigation {
    width: 100%;
    
    button {
        margin: 0 25px;
    }
}

.progress-container {
    height: 10px;
    width: 100%;
}