<mat-sidenav-container class="container" fxLayout="row">
    <mat-sidenav #sidenav mode="over" id="sidenav" (swipeleft)="sidenav.toggle()">
        <app-side-nav [logged]="logged" (toggleSideNav)="sidenav.toggle()"></app-side-nav>
    </mat-sidenav>
    <mat-sidenav #cartAndProduct mode="push" position="end" id="cartAndProduct" (swiperight)="cartAndProduct.toggle()" ngClass.lt-md="sidebar-lt-md"
        ngClass.lt-lg="sidebar-lt-lg" ngClass="sidebar">
        <div fxLayout="row" fxLayoutAlign="start start" class="close">
            <button mat-icon-button (click)="cartAndProduct.toggle()" color="warn">
                <i class="material-icons md-36">close</i>
            </button>
        </div>
        <app-cart (closeCart)="cartAndProduct.toggle()" *ngIf="sideNavMode === 'cart'"></app-cart>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column" fxLayoutAlign="space-between center" fxFlexFill>
        <div id="main">
            <app-header *ngIf="logged" (toggleSideCart)="cartSideNav()" (toggleSideNav)="sidenav.toggle()"></app-header>
            <router-outlet></router-outlet>
        </div>
        <div id="footer" *ngIf="logged"> 
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
    
</mat-sidenav-container>

    