.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;

    #sidenav {
        width: 75%;
    }
    
    #footer {
        width: 100%;
        bottom: 0;
    }

    #main {
        width: 100%;
    }

    #cart {
        max-width: 100%;
    }

    #item {
        width: 80%;
    }

    .sidebar {
        width: 50%;
        overflow-x: hidden;
    }

    .sidebar-lt-lg {
        width: 75%;
        overflow-x: hidden;
    }

    .sidebar-lt-md {
        width: 100%;
        overflow-x: hidden;
    }

    .close {
        padding-top: 5px;
        padding-left: 5px;
    }
}