.container {
    h1 {
        text-align: center;
    }
    .error {
        text-align: center;
        color: #D8000C;
        background-color: #FFBABA;
        margin-top: 0px;
        font-size: 13px;
    }
    .success {
        text-align: center;
        color: #4F8A10;
        background-color: #DFF2BF;
        font-size: 13px;
    }
}

