<div id="ticket-form-page" fxLayout="row" fxLayoutAlign="center center" class="content">
  <div id="ticket-form" fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center">
      <h3>Please complete the form below and we will work to resolve your issue in a timely manner.</h3>
      <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field class="field-width">
            <input matInput placeholder="Type of Issue">
          </mat-form-field>
          <mat-form-field class="field-width">
            <textarea matInput placeholder="Description of the Issue" matTextareaAutosize matAutosizeMinRows="3"
                    matAutosizeMaxRows="15"></textarea>
          </mat-form-field>
      </div>
  </div>
</div>
