@import url('https://fonts.googleapis.com/css?family=Basic');


#order-tr {
    background-color: #A0A0A0;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,.87);
    width: 100%;
    height: 10px;
}

#order-tr {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 40px;
}

h1, h3, p {
    font-family: 'Basic', sans-serif;
}
td, th {
    // border: 1px solid black;
    text-align: center;
    padding: 8px;
}

td {
    padding: 0px;
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-style: hidden;
    width: 85%;
}

tr:nth-child(odd) {
    background-color: #A0A0A0;
    height: 20px;
}

.delete {
    color: #e00000;
    text-decoration: none;
}

a:not(.delete){
    color: #3399FF;
}